.general {
    min-height: 20rem;
    border: 1px solid black;
    padding: 2rem;
    border: 2px solid var(--background-color);
    box-shadow: 0 1px 2px var(--background-color);
    border-radius: 0.5rem;
    transition: min-height 5s ease;
}

.head {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--light-color);
}

span {
    width: 2rem;
    font-size: 2rem;
}

h2 {
    margin-right: auto;
    width: 100rem;
    flex-grow: 1;
}

.button {
    display: flex;
    align-items: center;
    min-width: 5rem;
    height: 1rem;
    padding: 1.3rem;
    background-color: var(--background-color);
    border-radius: 10rem;
    cursor: pointer;
    transition: background 0.5s ease;
    border: none;
    gap: 0.5rem;
    width: 10rem;
    overflow: hidden;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 3rem;
    color: var(--light-color);
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--background-color);
    padding: 1rem;
    border: 2px solid var(--background-color);
    box-shadow: 0 1px 2px var(--background-color);
    border-radius: 0.5rem;
}

input {
    width: 30rem;
    border: none;
    font-size: 1rem;
    padding: 0.2em;
}

input:focus {
    /* border: none; */
    outline: none;
}
