.button-save {
    --save-color: rgba(0, 0, 255, 0.535);
    --light-save-color: rgba(0, 0, 255, 0.85);

    background-color: var(--save-color);
    color: var(--background-color);
}

.button-save:hover {
    background-color: var(--light-save-color);
}
