.cv-container {
    width: min(65rem, 90vw);
    min-height: 20rem;
    background-color: var(--primary-background-color);
    margin: 2rem;
    padding: 0 2rem 2rem 2rem;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
    padding: 3rem;
}
