:root {
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --background-color: #f3f4f6;
    --primary-background-color: #ffffff;
    --dark-color: #1f2937;
    --light-color: #4b5563;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    min-height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
